* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdfeef;
  padding: 20px;
}

.container {
  display: grid;
  gap: 30px;
  background-color: #fff;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

.header {
  display: grid;
  justify-content: space-between;
  align-items: center;
  background-color: #3d8d51;
  height: 80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  grid-template-columns:  auto 1fr;


}
.header-title {
  padding: 10px;
  color: #fff;
}

.nav {
  justify-self: end;
  margin-right: 30px;
}

.nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  
  
}

.nav a:hover {
  color: #194f10;
  cursor: pointer;
  text-decoration: none;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
}

.main {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.profile {
  width: 50%;
  border: 5px dotted #0b3a13;
  display: flex;
  border-radius: 8px;
  background-color: #fffdf4;
  flex-direction: column;
}

.list {
  width: 50%;
}

.profile-content {
  display: flex;          /* 이미지와 정보를 가로로 배치 */
  width: 100%;
  align-items: center;    /* 이미지와 정보 높이 맞춤 */
  justify-content: flex-start;
}

.profile h3 {
  text-align: center;
  padding: 8px;
  font-size: 1.3em;
  padding-bottom: 0;
  
}

  .profile-content img {
  width: 30%;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin: 20px;
  box-shadow: 4px 4px 6px #ecdbb4;
}

.profile-info {
  border: 3px dashed #1c6240;
  padding: 20px;
  margin-left: 10px;
  background-color: #f1faed;
}

.profile-info p {
  font-size: 1.2em;
  font-weight: 500;
}

