body {
  background-color: #fffef1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blback {
  width: 500px;
  height: 300px;
  background-color: blueviolet;
}

.container {
  width: 80%;
  height: auto;
  background-color: #426a9b;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
}

.box {
  align-items: center;
  background-color: white;
  width: 50%;
  height: auto;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  color: #426a9b;
}

p {
  font-size: 25px;
  font-weight: 900;
}

img {
  width: 200px;
}

.up {
  margin-top: 10px;
  padding: 20px;
  font-size: 25px;
  border: none;
  border-radius: 50px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 700;
  background-color: #426a9b;
  color: white;
  text-shadow: 4px 4px 4px rgb(41, 41, 133);
  box-shadow: 4px 4px 4px rgb(168, 168, 168);
}

.info,
.check {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin: 30px;
}

.info label {
  font-weight: 700;
}

.info input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  margin-top: 0;
}

.info textarea {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  margin-top: 0;
}

.check span {
  font-weight: 900;
  color: #426a9b;
}

.check form {
  text-align: left;
}

.save button {
  margin-bottom: 30px;
  width: 80%;
  font-size: 25px;
  padding: 15px;
  border-radius: 50px;
  border: none;
  background-color: #2d8032;
  color: white;
  font-weight: 700;
  text-shadow: 4px 4px 4px #26702b;
  box-shadow: 4px 4px 4px rgb(168, 168, 168);
}
