* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdfeef;
  padding: 20px;
}

.container {
  display: grid;
  gap: 30px;
  background-color: #fff;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.header {
  display: grid;
  justify-content: space-between;
  align-items: center;
  background-color: #3d8d51;
  height: 80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  grid-template-columns: auto 1fr;
}

.header-title {
  padding: 10px;
  color: #fff;
}

.nav {
  justify-self: end;
  margin-right: 30px;
}

.nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav a:hover {
  color: #194f10;
  cursor: pointer;
  text-decoration: none;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
}

.main {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.profile {
  width: 30%;
  /* border: 5px dotted #0b3a13; */
  display: flex;
  border-radius: 8px;
  background-color: #fffdf4;
  flex-direction: column;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.list {
  width: 70%;
}

.profile-content {
  width: 100%;
}

.profile h3 {
  text-align: center;
  padding: 8px;
  font-size: 2em;
  padding-bottom: 10px;
  background-color: #3d8d51;
  color: #fff;
  border-radius: 10px;
}

.profile-content img {
  display: flex;
  text-align: center;
  width: 150px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  margin-top: 10px;
}

.profile-info {
  /* border: 3px dashed #1c6240; */
  padding: 20px;
  background-color: #d7f5de;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.profile-info p {
  font-size: 1.2em;
  font-weight: 500;
}

.profile-info span {
  font-weight: 700;
}

.timeline th,
td {
  border: 1px solid #194f10;
}

.timeline table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #194f10;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
}

.timeline td:first-child {
  background-color: #eef8f1;
}

.timeline th {
  background-color: #eef8f1;
}
