* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding: 10px;
  background-color: #f5f5dc;
  /* width: 450px; */
  height: 450px;

  /* 부모 요소에 flex 지정 */
  display: flex;

  /* flex-direction: 주축 방향을 정하는 속성 (default: row) */
  flex-direction: row;
  
  /* 아이템들 간의 간격을 조절하는 속성 */
  gap: 20px;

  /* flex-wrap: 줄바꿈 여부를 지정 */
  /* flex-wrap: wrap; */

  /* flex-flow: flex-direction과 flex-wrap을 한 번에 지정 */
  /* flex-flow: column nowrap; */

  /* justify-content: 주축 기준으로 아이템들을 정렬하는 방법을 지정 */
  justify-content: center;

  /* align-items: 교차축 기준 단일 라인을 정렬하는 방법을 지정 */
  /* align-items: center; */

  /* align-content: 교차축 기준 여러 라인을 정렬하는 방법을 지정 */
  align-content: space-evenly;
}

.container2 {
   margin: auto;
  padding: 10px;
  background-color: #19abb5;
  width: 450px;
  height: 450px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
}

.item {
  /* flex-basis: 아이템들의 기본 크기를 설정 */
  /* flex-basis: 150px; */

  /* flex-grow: 빈 공간이 생겼을 때 얼마만큼 더 커질지 결정하는 속성
      비율을 설정 각각 아이템들이 몇배로 빈 공간을 가져갈 것인지 */
  /* flex-grow: 1; */

  /* flex-shrink: 공간이 부족할 때 얼마나 더 줄어들지 결정하는 속성 */
  /* flex-shrink: 1; */

  /* flex: flex-grow, flex-shrink, flex-basis를 한 번에 작성 (실무 권장) 
     flex: 1 => 1 1 0 */
  flex: 1;

  /* width: 150px;
  height: 90px; */
  background-color: #81d781;
  border: 1px solid #000;
}

/* .item:nth-child(3) {
  flex-grow: 2;
} */